.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 2em;
    color: lightgray;
}

.queue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cta {
    background: paleturquoise;
}

.ctaActive {
    background: lightsalmon;
}

.leave {
    font-size: 1em;
    padding: .5em 1em;
    background: lightgrey;
    color: gray;
    position: absolute;
    top: 1em;
    right: 1em;
}

small {
    padding-top: 1em;
    color: lightgrey;
    font-size: 1em;
    display: block;
    text-align: center;
}

.footer {
    margin-top: 3em;
}

@media (max-width: 768px ) {
    .queue {
        flex-direction: column;
        align-items: center;
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 1em;
    }
    
    .cta {
        width: calc(100%);
    }

    small {
        display: none;
    }

    :global(body) {
        min-height: auto;
    }
}
