body {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 1em;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: border-box;
}

@media (max-width: 768px ) {
    body {
        padding-bottom: 1em;
    }
}
